/*reset do css*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: -webkit-linear-gradient(to right, white, grey); 
  background: linear-gradient(to right, white, grey); 
  font-family: Arial;
  background-size: auto 200vh;
  height: 100vh;
 font-size: 12px;
}
 
@media (min-width: 400 px) {
  body { font-size: 14px;

  }
}

@media (min-width: 600 px) {
  body{ font-size: 18px;

  }
}


header {
height: 50vh;
display: flex;
justify-content: center;
align-items: center;
background-image: url('../img/Fundo.jpg');
}

.site-title {
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 0em 0em 0.1em rgb(255, 255, 255);
  font-weight: bold;
}

.site-subtitle {
  color: rgb(0, 0, 0);
  text-align: center;
  font-style: italic;
text-shadow: 0em 0em 0.1em rgb(255, 255, 255);
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

.menu {
  background: #808080; 
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none; 
}

a {
color: black; 
font-weight: bold;
font-style: italic;
}

.img-portfolio{
height: 230px;
width: 230px;
}

h3 {
 
  margin: 10px;
  }
  
.portfolio{
  display: flex;
 }

figcaption {
  text-align: center;
  font-family: cursive;
  font-weight: bold;
}


.portfolio-subtitle {
  display: block;
  padding: 3em;
  text-align: center;
  font-family: cursive;
  }

.img-portfolio {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
margin-bottom: 5px;
}

h4 {
  text-align: center;
  margin: 10px;
  font-family: cursive; 
  font-size: 15px;
}

@media (max-width: 800px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}