/*reset do css*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background: linear-gradient(to right, #090811, #111119, #171720, #1c1c27, #21222f, #242634, #282939, #2b2d3e, #2d2f41, #2f3145, #313248, #33344c);
  background-size: auto 200vh;
  height: 100vh;
}

header {
height: 70vh;
display: flex;
justify-content: center;
align-items: center;
background-image: url('../img/Fundo.jpg');
}

.site-title {
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
}

.site-subtitle {
  color: rgb(0, 0, 0);
  text-align: center;
  font-style: italic;
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
 
}

.logo{
border-radius: 50%;
border: solid black;
}

@media (min-width: 300px) {
  h1 { 
    font-size: 35px;
  }

  h2 {
    font-size: 15px;
  }

  h5 {
    font-size: 15px;
  }
  
  .logo{
    width: 100px;
    height: 100px;
  }

}

@media (min-width: 600px) {
  h1 { 
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  h5 {
    font-size: 20px;
  }

  .logo{
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 800px) {
  h1 { 
    font-size: 45px;
  }

  h2 {
    font-size: 25px;
  }

  h5 {
    font-size: 25px;
  }

  .logo{
    width: 150px;
    height: 150px;
  }
}


/* configurações de menu */

.menu {
  background:linear-gradient(to right, #090811, #111119, #171720, #1c1c27, #21222f, #242634, #282939, #2b2d3e, #2d2f41, #2f3145, #313248, #33344c); 
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
}

a {
  text-decoration: none;
}

.menu a:hover {
  color: black;
  background-color: #33344c;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none; 
}

.menu a {
color: white; 
font-family: 'Yanone Kaffeesatz', sans-serif;
}

/*sub menu*/

.menu li  ul{
  position:absolute; 
  top:25px; 
  background: #090811;
  display:none;
}   

.menu li:hover ul, .menu li.over ul{
  display:block;
}

.menu li ul li{
  border:1px solid #c0c0c0; 
  display:block; 
  width:150px;
}


/*apartir daqui configurações da galeria*/

h6{
font-family: 'Roboto', sans-serif;
text-align: center;
color: ivory;
margin: 10px;
}


@media (min-width: 300px) {
  h6 { font-size: 12px;

  }
}


@media (min-width: 560px) {
  h6 { font-size: 20px;

  }

}


.img-galeria{
border-radius: 30%;
border: solid #2b2d3e;
}

figcaption {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 10px;
  color: white;
}


.grid {
  display: grid;
  gap: 2em;
  margin: 10px;
}

@media (min-width: 300px) {
  .img-galeria{
    height: 125px;
    width: 125px;
  }
}

@media (min-width: 560px) {
  .grid {
    display: grid;
    gap: 2em;
    grid-template-columns: 240px 240px;
    justify-content: center;
  }
  .img-galeria{
    height: 150px;
    width: 150px;
  }
 
}

@media (min-width: 880px) {
  /*.grid {
    display: grid;
    gap: 2em;
    grid-template-columns: 240px 240px 240px;
    justify-content: center;
  }
 */
 .img-galeria{
  height: 200px;
  width: 200px;
 }
}

@media (min-width: 1000px) {
  .grid {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 240px);
    justify-content: center;
  }
  
  .img-galeria{
    height: 230px;
    width: 230px;
  }
}

.galeria a:hover{
opacity: 80%;
text-shadow: 0px 0px 10px whitesmoke;
transition: 1s;
}

figure {
  text-align: center;
}

/*font-family: 'Roboto', sans-serif;  fonte roboto*/

/*configurações do Sobre*/

h3 {
  font-family: 'Roboto', sans-serif;
  background-color: linear-gradient(to right, #090811, #111119, #171720, #1c1c27, #21222f, #242634, #282939, #2b2d3e, #2d2f41, #2f3145, #313248, #33344c);
  color: rgb(255, 255, 255);
font-weight: normal;
}

h4 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-top: ridge black ;
  margin-top: 5vw;
} 

.texto1 {
display: flex;
justify-content: center;
align-items: center;
margin: 10px;
}

@media (min-width: 300px) {
  h3 { 
    width: 200px;
    font-size: 12px;
  }
  h4 {
    width: 200px;
    font-size: 12px;
  }
}


@media (min-width: 600px) {
  h3 { 
    width: 400px;
    font-size: 20px;
  }
  h4 {
    width: 400px;
    font-size: 20px;
  }
}


@media (min-width: 800px) {
  h3 { 
    width: 522px;
    font-size: 25px;
  }
  h4 {
    width: 522px;
    font-size: 25px;
  }
}


@media (min-width: 1000px) {
  h3 { 
    width: 900px;
    font-size: 25px;
  }
  h4 {
    width: 900px;
    font-size: 25px;
  }
}

/*configurações do partituras*/

.img-part {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: solid white
}

@media (min-width: 300px) {
  .h2 { 
    font-size: 12px;
 }
}

@media (min-width: 600px) {
  .h2 { 
    font-size: 20px;
  }
 
}

@media (min-width: 800px) {
  h2 {
    width: 522px;
    font-size: 25px;
  }
}

@media (min-width: 560px) {
  
  .img-part{
    height: 150px;
    width: 150px;
  }
  .h2 {
   font-size: 12;
  }
 
}

@media (min-width: 880px) {
  .grid-part {
    display: grid;
    gap: 2em;
    grid-template-columns: 240px 240px 240px;
    justify-content: center;
  }
 
  .img-part{
  height: 200px;
  width: 200px;
 }
}

@media (min-width: 1000px) {
 
  .img-part{
    height: 230px;
    width: 230px;
  }

  .h2 {
    font-size: 25px;
  }
}


.grid-part :hover{
  opacity: 60%;
  transition: 1s;
  text-shadow: 0px 0px 10px white;
}


.h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 5vw;
margin-bottom: 1vw;
  font-weight: bold;
} 
