body {
    background-image: url('http://www.osmais.com/wallpapers/201302/piano-partitura-wallpaper.jpg');
    font-family: Arial;
    background-size: auto 100vh;
    height: 100vh;
  }
  
  .site-title {
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .site-subtitle {
    color: #FFFFF0;
    text-align: center;
    font-style: italic;
  }
  
  .menu {
    background: #FF7F50; 
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none; 
  }
